
<p>物件名：<%= @property.name %></p>
<p>賃料：<%= @property.rent %>円</p>
<p>住所：<%= @property.address %></p>
<p>築年数：<%= @property.age %>年</p>
<p>備考：<%= @property.note %></p>

<% @stations.each do |station| %>
  <% if @property.nearest_stations.any? %>
    <%= station.route_name %>
    <%= station.station_name %>
    <%= station.minutes_on_foot %>
  <% end %>
<% end %>

<%= link_to '編集', edit_property_path(@property) %> |
<%= link_to '戻る', properties_path %>
